<section class="colored fill-view left">
    <h1 class="right">About me</h1>
</section>
<section class="large">
    <div class="flex">
        <div>
            <img src="/assets/img/portrett.png" width="350px" alt="Me">
        </div>
        <div class="flex-grow right">
            <h3>Me:</h3>
            <p>My name is Pelle Pastoor! I am 20 years old and currently studying Cognitive Science at the University of Bergen.</p>
            <p>I have two passions in my life, programming and photography!</p>
        </div>
    </div>
</section>