<app-navbar></app-navbar>
<section class="fill-view">
    <h1 class="right">Welcome to <span>Floating Goat</span></h1>x
</section>
<section class="dark">
    <h2>Nice one</h2>
    <p>This is some example text showing how a paragraph looks like.</p>
    <p>Here is some more</p>
</section>
<section class="colored">
    <h2>Nice one</h2>
    <p>
        Jordskjelv er rystelser og bevegelser i bakken på grunn av plutselig utløste bevegelser i jordskorpen eller øvre del av mantelen, den såkalte litosfæren. Rystelsene kan forårsake skader på bygninger, og om jordskjelvet inntreffer under havet kan en flodbølge, tsunami, utløses og beveger seg over lange strekninger og forårsaker store ødeleggelser når den når land.
    </p>
    <p>
        Jordskjelv skyldes langsomme bevegelser i jordskorpen som over tid skaper spenninger i jordskorpen som kan bli så store at den aktuelle bergarten til slutt gir etter, og plutselige forskyvninger oppstår. Denne typen jordskjelv kalles tektoniske jordskjelv og er de mest vanlige, mens jordskjelv som skyldes vulkanutbrudd forekommer langt sjeldnere. Senteret for et skjelv kalles hyposentrum i jordens indre, mens det samme punktet (loddrett over) på jordoverflaten kalles episentrum.
    </p>
    <p>
        Et jordskjelvs størrelse kan måles i seismisk moment, magnitude (f.eks. Richters skala eller momentmagnitude), intensitet eller fysisk størrelse. De fire største jordskjelvene gjennom tidene – og de eneste som har målt 9,0 eller mer på Richters skala – var langfredagsjordskjelvet i Alaska 27. mars 1964 (målt til 9,2), i Chile 22. mai 1960 (målt til 9,5), jordskjelvet ved Tōhoku i Japan 11. mars 2011(målt 9,0) og jordskjelvet i Indiahavet 26. desember 2004 (målt til 9,1). De siste hundre årene har over én million mennesker omkommet på grunn av forskjelv.
    </p>
</section>