@keyframes search {
    0% {
        top: 100px;
        left: 200px;
    }

    20% {
        top: 100px;
        left: 600px;
    }

    40% {
        top: 300px;
        left: 750px;
    }

    60% {
        top: 200px;
        left: 500px;
    }

    80% {
        top: 150px;
        left: 100px;
    }

    100% {
        top: 100px;
        left: 200px;
    }
}