/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');

@import "variables.scss";
@import "animations.scss";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto";
}

@for $i from 1 through 6 {
    h#{$i}{
        font-size: 120px - (($i+2)*10);
        margin: (40px - $i*5) 0;
        font-family: "Bebas Neue";

        span {
            text-decoration: underline;
            color: $secondary
        }
    }
}

p {
    color: $default-text;
    font-size: 1.4em;
}

a {
    color: $primary;
    transition: color 0.3s;

    &:hover {
        color: $secondary;
    }
}

section {
    position: relative;

    margin-left: 150px;
    padding: 150px 20vw;
    
    z-index: 1;

    @for $i from 1 through 6 {
        h#{$i}{
            color: $primary;
            text-align: center;
        }
    }

    &.large {
        padding: 150px 10vw;
    }

    &.small {
        padding: 150px 30vw;
    }

    &.fill-view {
        min-height: 100vh;
    }

    &.colored {
        background-color: $secondary-light;

        p {
            color: $primary-dark !important;
        }
    }

    &.dark {
        background-color: $primary-dark;

        p {
            color: $primary-light !important;
        }

        @for $i from 1 through 6 {
            h#{$i}{
                color: white;
            }
        }
    }

    .background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
        
        overflow: hidden;
    
        .search-light {
            position: absolute;
            width: 500px;
            height: 500px;
            background-color: rgba($color: #fff, $alpha: 0.1);
    
            border-radius: 100%;
    
            animation-name: search;
            animation-duration: 8s;
            animation-iteration-count: infinite;
        }
    }
}

input {
    margin: 5px;
    padding: 20px 30px;

    border: 0;
    outline: none;

    font-family: "Roboto";
    font-size: 1.4em;

    transition: color 0.3s;

    &[type=text],&[type=search],&[type=password]{
        width: 400px;
        background-color: $primary-light;
        color: white;
    }

    &[type=button],&[type=submit]{
        background-color: transparent;
        color: $secondary;
        text-transform: uppercase;

        cursor: pointer;

        &:hover {
            color: $primary-light;
        }
    }

    
}

.right {
    * {
        text-align: right;
    }
    text-align: right !important;
}

.left {
    * {
        text-align: left;
    }
    text-align: left !important;
}

.center {
    * {
        text-align: center;
    }
    text-align: center !important;
}

