<nav [class.active]="isActive">
    <div class="bar">
        <a [routerLink]="[]" (click)="menuActivation()" class="burger">
            <div></div>
            <div></div>
            <div></div>
        </a>
        <h1>FLOATING GOAT</h1>
    </div>
    <div class="menu">
        <div>
            <h1>MENU</h1>
            <a [routerLink]="['/']" (click)="menuActivation()"><h4>HOME</h4></a>
            <a [routerLink]="['/about']" (click)="menuActivation()"><h4>ABOUT</h4></a>
            <a [routerLink]="['/']" (click)="menuActivation()"><h4>PROJECTS</h4></a>
            <a [routerLink]="['/']" (click)="menuActivation()"><h4>PHOTOGRAPHY</h4></a>
            <a [routerLink]="['/']" (click)="menuActivation()"><h4>BLOG</h4></a>
        </div>
    </div>
</nav>
